form label {
    display: inline-block;
    margin-bottom: .5rem;
}

form input.form-control {
    display: block;
    width: 300px;
    max-width: 100%;
    border: 1px solid darkgray;
    height: 30px;
    margin-bottom: .5rem;
}

.btn {
    height: 30px;
    padding: 0 30px;
    display: inline-block;
}

pre {
    font-family: monospace;
}

.step-index {
    font-size: .7rem;
    color: #9E9E9E;
}

.step-desc {
    color: cornflowerblue;
}

.error {
    color: red;
}
