* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background: #131418;
  color: #fff;
}

body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
}

html, body {
  height: 100%;
}

.wrapper {
  height: 100%;
  display: flex;
}

.col-left {
  width: 300px;
  max-width: 300px;
  padding: 15px;
  overflow: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  background: #1e1f26;
}

.col-right {
  position: relative;
  flex: 1 1 auto;
}

form label {
  display: inline-block;
  margin-bottom: .5rem;
}

.form-control {
  display: block;
  width: 300px;
  max-width: 100%;
  border: 1px solid #a9a9a9;
  height: 30px;
  padding: 0 7px;
  margin-bottom: .5rem;
  background: #262830;
  color: #fff;
  outline: 0;
}

::-webkit-input-placeholder { /* Edge */
  color: #848a9e;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #848a9e;
}

::placeholder {
  color: #848a9e;
}

.btn {
  height: 30px;
  padding: 0 30px;
  display: inline-block;
  background: #444857;
  color: white;
  border: 0;
  font-size: 14px;
  font-weight: bold;
  outline: 0;
  cursor: pointer;
  line-height: 1;
  letter-spacing: 1px;
}

.btn:hover {
  background: #5a5f73;
}

pre {
  font-family: monospace;
  color: #00bcd4;
  overflow: auto;
  padding: 10px;
  margin-left: -10px;
  margin-right: -10px;
  font-size: 13px;
  flex: 1 1 auto;
}

.step-index {
  font-size: .7rem;
  color: #9e9e9e;
}

.step-desc {
  color: cornflowerblue;
}

.error {
  color: #ff5722;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
